/* Css Navbar */

.navbarcustom {
    background-color:transparent;
    transition: all 2s;
    
}

.acustom {
    color: white;
}

.acustom:hover
{
    color: rgb(20, 17, 228);
    transition: 1s;
}

.navanimation {
    background:linear-gradient(180deg, rgb(34, 34, 34, 0.9), rgb(34, 34, 34, 0.5));
    
}



/* Css Homapage*/

.headerimg {
    background: linear-gradient(rgb(34, 34, 34, 0.9), rgb(34, 34, 34, 0.2)), url('./media/header.jpg');
    background-position: center 70%;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    
}

.headertitle {
    font-size: 80px;
    position: relative;
    left: -2000px;
    transition: all 2s;
}

.headertitle.active {
    position: relative;
    left: 0px;
    
}

